<h1 align="center">Log in</h1>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: sessions_path) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit "Login", class: "ui blue submit button" %>
<% end %>  
  
</div></div>
<div class="middle aligned column">
      
        <%= link_to 'Signup', new_user_path, class: "ui blue submit button" %>
      </div>
    </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
  </div>
