<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
<p id="notice"><%= notice %></p>
<h1>User</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= link_to 'New article', new_article_path %> |
<%= link_to 'Back', users_path %>

<br>
<%= render 'articles/articles' %>
</div>
<div class="column">
	<h2>Chat</h2>
	</div>
</div>
<div class="ui vertical divider">|</div></div>