<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <div class="ui inverted menu">
      <div class="ui container">
        <%= link_to 'Home', current_user, class: "item" %>
        <%= link_to 'Users', users_path, class: "item" %>
        <div class="right menu">
          <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <%= link_to 'Edit profile', edit_user_path(current_user), class: "item" %>
              <a class="item">xyz</a>
              <a class="item">abc</a>
            </div>
          </div>
          <div class="menu">
            <%#= link_to 'Log out', logout_path, method: :delete %>
            <%= link_to 'Log out', logout_path, method: :delete, class: "item" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
